{
  "singleQuote": true,
  "overrides": [
    {
      "files": ["*.js", "*.jsx", "*.ts", "*.tsx"],
      "options": {
        "singleQuote": true
      }
    }
  ],
  "plugins": ["prettier-plugin-tailwindcss"]
}